<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div class="container is-widescreen is-justify-content-center mt-6">
        <h2 class="title is-2">Dobot Controller</h2>
        <h4 class="subtitle is-4">By Fernando Vasconcellos</h4>
        <div class="columns">
            <div class="column is-half mt-3">
                <img class="is-1by1" width="850" height="850" src="../static/robo.jpeg">
            </div>
            <div class="column is-half mt-3">
                <h2 class="title is-2">Robô - Dobot Controller</h2>
                <p>Desenvolvi um projeto de controle de braço robótico utilizando Python, HTMX e Bulma, como parte das entregas acadêmicas do curso de Engenharia de Computação. Este projeto permite controlar o braço robótico Magician Lite Dobot por meio de uma plataforma web intuitiva e interativa. Combinando tecnologias modernas de desenvolvimento web e programação, o projeto oferece uma solução eficiente e acessível para operar o braço robótico em diversas aplicações. Explore as funcionalidades deste projeto inovador e experimente o futuro da automação industrial.</p>
            </div>
        </div>
    </div>
</body>

</html>